.sidebar {
    background-color: rgb(244, 248, 252);
    width: 200px;
    height: 100%;
    max-width: 300px;
    color: #1e266d !important;
    padding-left: 10px;

}


.nav-link {
    color: #1e266d !important;
    text-decoration: none;
    font-size: 0.9em;
    font-weight: 500;
    margin-bottom: 20px !important;
}

.sidebar .nav-link:hover,
.sidebar .nav-link:hover span,
.sidebar .nav-link:hover i {
  color: #00D1B2 !important;
}
.sidebar .nav-link,
.sidebar .nav-link span{
    color: #1e266d !important;
}
