.searchbar_container{
    box-sizing: content-box;
    height: 50px;
    width: 500px;
    border-radius: 5px;
    opacity: .8;
}
.searchbar_input{

    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: none;
    border: 1px solid #1E266D;
}
.searchbar_input:focus{
    outline: none;
}

.searchbar_icon{
    background-color: #1E266D;
    border-radius: 50px;
    color: white;
     
}

