/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
body {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400; 
    font-style: normal;
    color: #1E3E6D;
  }


